@model ModelsLibrary.Djelatnik
@using EvidencijaSati.Resources

<div class="card card-body">
	 <div class="row">
		  <div class="col lblTxt">@UserProfile.Ime</div>
		  <div class="col">@Html.TextBoxFor(d => d.Ime, new {
								@class = "form-control",
								@disabled = true
								})</div>
	 </div>
	 <div class="row">
		  <div class="col lblTxt">@UserProfile.Prezime</div>
		  <div class="col">@Html.TextBoxFor(d => d.Prezime, new
								{
									 @class = "form-control",
									 @disabled = true
								})</div>
	 </div>
	 <div class="row">
		  <div class="col lblTxt">Email</div>
		  <div class="col">@Html.TextBoxFor(d => d.Email, new
								{
									 @type = "email",
									 @class = "form-control",
									 @disabled = true
								})</div>
	 </div>
	 <div class="row">
		  <div class="col lblTxt">@UserProfile.Datum_zaposlenja</div>
		  <div class="col">@Html.TextBoxFor(d => d.DatumZaposlenja, new
								{
									 @class = "form-control",
									 @disabled = true
								})</div>
	 </div>
	 <div class="row">
		  <div class="col lblTxt">@UserProfile.Tip_djelatnika</div>
		  <div class="col">
				@{ 
					 switch (Model.TipDjelatnikaID)
					 {
						  case ModelsLibrary.TipDjelatnikaEnum.DIREKTOR:
								<span>@UserProfile.Direktor</span>
								break;
						  case ModelsLibrary.TipDjelatnikaEnum.VODITELJ_TIMA:
								<span>@UserProfile.Voditelj_tima</span>
								break;
						  case ModelsLibrary.TipDjelatnikaEnum.ZAPOSLENIK:
								<span>@UserProfile.Zaposlenik</span>
								break;
						  case ModelsLibrary.TipDjelatnikaEnum.HONORARNI_DJELATNIK:
								<span>@UserProfile.Honorarni_djelatnik</span>
								break;
						  case ModelsLibrary.TipDjelatnikaEnum.STUDENT:
								<span>Student</span>
								break;
						  default:
								break;
					 }
				}
		  </div>
	 </div>
</div>