@model EvidencijaSati.Models.Djelatnik
@using EvidencijaSati.Resources

@Styles.Render("~/Content/userProfile")

<div class="container">
	 <div class="row">
	 	 <div class="col col-6">
			  <h1>@(UnosSati.Pozdrav + " " + Model.ToString())</h1>
		 </div>
	 	 <div class="col">
			  <button id="btnChangePass"
						 class="btn btn-outline-danger modal-link"
						 data-targeturl="@Url.Action("PromijeniZaporku", "User", new { @id = Model.IDDjelatnik })">
					 @UserProfile.Promijeni_zaporku
			  </button>
		 </div>
		  @{ 
				if ((int)Model.TipDjelatnikaID == 1 || (int)Model.TipDjelatnikaID == 2)
				{
					 <div class="col">
						  <a id="btnPregledajSatnice"
							  class="btn btn-secondary"
							  href="@Url.Action("PregledajSatnice", "Satnica")">
								<i class="fa fa-search"></i>
									 @UserProfile.Pregledaj_satnice
						  </a>
					 </div>
				}
		  }
	 </div>
	 <div class="row justify-content-center">
		  @{
				Html.RenderPartial("DjelatnikInfoCard", Model);
		  }
	 </div>
	 <div class="row justify-content-center">
	 	 <div class="col text-center">
			 <a class="btn btn-outline-primary"				 
				 href="@(Url.Action("UnosSati", "Satnica", new { @id = Model.IDDjelatnik }))">
				  <i class="fa fa-arrow-left"></i>
						@Common.Natrag
			 </a>
		 </div>
	 </div>
</div>
 

<script type="text/javascript">

	 $(function () {
		  $('body').on('click', '.modal-link', function (e) {
				e.preventDefault();
				$("#modal-container").remove();
				$.get($(this).data("targeturl"), function (data) {
					 $('<div id="modal-container" class="modal fade">' +
						  '<div class="modal-dialog" role="document">' +
						  data + '</div></div> ').modal();
				});
		  });
	 });

</script>