@using EvidencijaSati.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
		  <a class="navbar-brand" href="">Evidencija sati</a>
         <button class="navbar-toggler" 
                 type="button" 
                 data-toggle="collapse" 
                 data-target="#navbarSupportedContent" 
                 aria-controls="navbarSupportedContent" 
                 aria-expanded="false" 
                 aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @{ 
					 if (ViewBag.Site != "Login")
					 {
                    <ul class="navbar-nav mr-auto">
                
						      @if ((int)ViewBag.TipDjelatnika != 1) //ako nije direktor
						      {
                            <li class="nav-item" style="margin: 1vh 2vw;">
									     @Html.ActionLink("Evidencija sati", 
                                        "UnosSatiFromNav", 
                                        "Satnica", 
                                        null, 
                                        new { @class = "navbar-link btn btn-success" })
								    </li>
								    if ((int)ViewBag.TipDjelatnika == 2) //ako je voditelj tima
								    {
                                <li class="nav-item" style="margin: 1vh 2vw;">
									         @Html.ActionLink("Pregled satnica", 
                                            "PregledSatnica", 
                                            "Satnica", 
                                            null, 
                                            new { @class = "navbar-link btn btn-warning" })
								        </li>
								    }
						      }
						      else //ako je direktor
						      {
                            <li class="nav-item">
									     @Html.ActionLink("Pregled satnica", 
                                        "PregledSatnica", 
                                        "Satnica", 
                                        null, 
                                        new { @class = "navbar-link btn btn-warning" })
								    </li>
						      }						  
                    </ul>					 
                
                    <div class="form-inline">
                        <a id="btnProfil"
                            class="btn btn-outline-success"
                            href="@Url.Action("UserProfile", "User")"
                            style="margin: 0 2vw;">
                            <i class="fa fa-user"></i>
                                <b>@UnosSati.Profil</b>
                        </a>

                        <a id="btnLogout"
                            class="btn btn-outline-danger"
                            href="@Url.Action("Logout", "Home")"
                            style="margin: 1vh 2vw;">
                            <i class="fa fa-exclamation"></i>
                                <b>@Common.Odjava</b>
                        </a>
	 	                 <div class="dropdown" style="margin: 1vh 2vw;">
	 	 	                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	 	 	 	                 @Common.Jezik
	 	 	                 </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	                             @Html.ActionLink("Hrvatski", "SetLanguage", "Home", 
                                new { culture = "hr", url = Context.Request.Path }, 
                                new { @class = "dropdown-item" })
	                             @Html.ActionLink("English", "SetLanguage", "Home", 
                                new { culture = "en", url = Context.Request.Path }, 
                                new { @class = "dropdown-item" })
                            </div>
	                    </div>
                    </div>
					 }
					 else //ako je login page
					 {
                    <ul class="navbar-nav mr-auto"></ul>
                    <div class="form-inline">
	 	                 <div class="dropdown" style="margin: 0 2vw;">
	 	 	                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	 	 	 	                 @Common.Jezik
	 	 	                 </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	                             @Html.ActionLink("Hrvatski", "SetLanguage", "Home", 
                                new { culture = "hr", url = Context.Request.Path }, 
                                new { @class = "dropdown-item" })
	                             @Html.ActionLink("English", "SetLanguage", "Home", 
                                new { culture = "en", url = Context.Request.Path }, 
                                new { @class = "dropdown-item" })
                            </div>
	                    </div>
                    </div>
					 }
            }
    
         </div>

	 </nav>
    <div class="container body-content">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderBody()

    </div>

</body>
</html>




