@using EvidencijaSati.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	 <nav class="navbar navbar-dark bg-dark justify-content-between">
	 	 <a class="navbar-brand">Evidencija sati</a>
		 <div class="form-inline">
	 	     <div class="dropdown" style="margin: 0 2vw;">
	 	 	     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	 	 	 	     @Common.Jezik
	 	 	     </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	                 @Html.ActionLink("Hrvatski", "SetLanguage", "Home", 
                    new { culture = "hr", url = Context.Request.Path }, 
                    new { @class = "dropdown-item" })
	                 @Html.ActionLink("English", "SetLanguage", "Home", 
                    new { culture = "en", url = Context.Request.Path }, 
                    new { @class = "dropdown-item" })
                </div>
	        </div>
                <a id="btnLogout"
                   class="btn btn-outline-danger"
                   href="@Url.Action("Logout", "Home")"
                   style="margin: 0 2vw;">
                   <i class="fa fa-exclamation"></i>
                      <b>@Common.Odjava</b>
                </a>
       </div>
	 </nav>
    <div class="container body-content">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderBody()

    </div>

</body>
</html>




