@model List<EvidencijaSati.Models.SatnicaProjekta>
@using EvidencijaSati.Resources

<div class="modal-content">
	 <div class="modal-header">
	 	 @Model.First().Start.Date.ToString().Split(' ')[0]
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: auto">
	 		  <span aria-hidden="true">&times;</span>
		  </button>
	 </div>
	 <div class="modal-body">
		  <div class="container">

				<div class="row">
					 <div class="col text-center">
					 	 <b>@Common.Od</b>
					 </div>
					 <div class="col text-center">
						  <b>@Common.Do</b>
					 </div>
					 <div class="col col-2 text-right">
						  <b>@Common.Obrisi</b>
					 </div>
				</div>

				@foreach (var satnica in Model)
				{
					 <div class="row">
						  <div class="col">
								<input id="@("spTxtRadni" + satnica.IDSatnicaProjekta)"
										 class="form-control"
										 type="text"
										 value="@satnica.GetTimeString("start")"
										 style="margin: 0 auto;"/>
						  </div>
						  <div class="col">
								<input id="@("spTxtPrekovremeni" + satnica.IDSatnicaProjekta)"
										 class="form-control"
										 type="text"
										 value="@satnica.GetTimeString("end")"/>
						  </div>
						  <div class="col col-2">
								<button id="@("btnDelete-" + satnica.IDSatnicaProjekta)"
										  class="btn btn-danger"
										  type="button"
										  data-targeturl="@Url.Action("ObrisiUnosSatniceProjekta", new { @id = satnica.IDSatnicaProjekta })">
									 <i class="fa fa-minus-circle"></i>
								</button>
						  </div>
					 </div>
				}

		  </div>
	 </div>
	 <div class="modal-footer">
	 	 <button id="btnOk"
				 class="btn btn-primary"
				 type="button">
	 	 	 Ok
	 	 </button>
	 </div>
</div>

<script type="text/javascript">



</script>