@model EvidencijaSati.Models.ViewModels.UnosSatiVM

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/Content/dataTables")
@Styles.Render("~/Content/unosSati")

<h1>Pozdrav @Model.Djelatnik.Ime !</h1>

<div class="container">
	 <div class="row justify-content-between">
		  <div class="col col-4 dateCol">
				<p>Bilježe se sati za <b><span id="txtDatum"></span></b></p>
		  </div>
		  <div class="col col-4">
				<button id="btnPregled"
						  class="btn btn-outline-success"
						  type="button">
							Pregledaj unose na čekanju
				</button>
		  </div>
	 </div>
	 <div class="row">
		  <div class="card card-body">

				<table id="table" style="width: 100%">
					 <thead>
						  <tr>
								<th>Projekt</th>
								<th>Zabilježeno</th>
								<th>Start / Stop</th>
								<th>Radni sati</th>
								<th>Prekovremeni sati</th>
								<th>Detalji</th>
						  </tr>
						  </thead>
					 <tbody>
					 @for (int i = 0; i < Model.Projekti.Count; i++)
					 {
						  <tr class="@Model.Projekti[i].IDProjekt rowProjekt">
								<td>@Model.Projekti[i].Naziv</td>
								<td id="@("txtZab" + Model.Projekti[i].IDProjekt)" class="zabiljezeno">
									 @(Model.Satnica.ProjektZabiljezeno[Model.Projekti[i].IDProjekt])
								</td>
						  	 	<td>
								<button id="@("btnProjekt" + Model.Projekti[i].IDProjekt)"
										  class="btn btn-success btnTimer @i"
										  type="button">Start
								</button>
								</td>
						  	 	<td>
									 <input id="@("txtRadni" + Model.Projekti[i].IDProjekt.ToString())"
											  class="form-control radni"
											  type="text" />
								</td>
								<td>
									 <input id="@("txtPrekovremeni" + Model.Projekti[i].IDProjekt.ToString())"
												class="form-control"
												type="text" />
								</td>
						  	 	<td>
									 <button id="@("btnInfo" + Model.Projekti[i].IDProjekt)"
												class="btn btn-outline-dark modal-link"
												type="button"
												data-targeturl="@Url.Action("", new { @projId = Model.Projekti[i].IDProjekt, @satId = Model.Satnica.IDSatnica })">
														<i class="fa fa-info"></i>
												 </button>
								</td>
						  </tr>
					 }
					 </tbody>
					 <tfoot>
						  <tr>
								<td>Ukupno</td>
								<td><b><span id="txtTotal">@Model.Satnica.GetFormatedProperties("total")</span></b></td>
								<td></td>
								<td><span id="txtTotalRedovni">00:00</span></td>
								<td><span id="txtTotalPrekovremeni">00:00</span></td>
								<td></td>
						  </tr>
					 </tfoot>
				</table>

		  </div>
		  </div>
	 <div class="row btns justify-content-center">
		  <div class="col col-3">
			 <button id="btnOdustani"
						class="btn btn-outline-danger">Odustani</button>
		  </div>
		  <div class="col col-3">
			 <button id="btnUredi"
						class="btn btn-success">Uredi</button>
		  </div>
		  <div class="col col-3">
			 <button id="btnSpremi"
						class="btn btn-primary">Spremi</button>
		  </div>
		  <div class="col col-3">
			 <button id="btnPredaj"
						class="btn btn-warning">Predaj</button>
		  </div>
	 </div>

</div>

<div id="modal-container" class="modal" tabindex="-1" role="dialog">
	 <a href="#close" title="Close" class="modal-close-btn">X</a>
	 <div class="modal-content">
		  <div class="modal-body"></div>
	 </div>
</div>

<script type="text/javascript">

	 const regex = new RegExp('^\\d{1,2}[:]\\d{1,2}$');

	 $(document).ready(function () {


		  var datum = "@Model.Satnica.Datum.ToString()".split(" ")[0];
		  $('#txtDatum').html(datum);

		  lockTextFields(true);
		  calculateTotals();

		  $('#btnPredaj').prop('disabled', true);
		  $('#btnOdustani').prop('disabled', true);
		  $('#btnSpremi').prop('disabled', true);

		  var projectId, start, end, satId;

		  var table = $("#table").DataTable({
				select: true,
				paging: false,
				ordering: false,
				info: false,
				searching: false,
				columnDefs: [
					 {
						  targets: 1,
						  className: 'dt-body-center'
					 },
					 {
						  targets: 3,
						  className: 'dt-body-center'
					 },
					 {
						  targets: 4,
						  className: 'dt-body-center'
					 },
					 {
						  targets: 5,
						  className: 'dt-body-center'
					 }
				]
		  });

		  $('button.btnTimer').click(function (e) {
				e.preventDefault();

				if ($(this).hasClass('btn-success')) {
					 start = new Date();
					 projectId = this.id.split('btnProjekt')[1];

					 $(this).removeClass('btn-success');
					 $(this).addClass('btn-danger');
					 $(this).html('Stop');

					 $('button.btn-success').prop('disabled', true);

				} else {
					 end = new Date();

					 $('button.btn-success').prop('disabled', false);

					 $(this).removeClass('btn-danger');
					 $(this).addClass('btn-success');
					 $(this).html('Start');

					 var minutes = calculateMinutes(start, end);
					 var zabiljezeno = parseMinutesToString(minutes);
					 var row;
					 $('input').each(function (i) {
						  if ($(this).attr('id').endsWith(projectId)) {
								row = Math.floor(i / 2);
						  }
					 });

					 table.cell(row, 1, 0).data(
						  addHoursMinutes(
								table.cell(row, 1, 0).data(),
								zabiljezeno
						  )
					 ).draw();

					 //var txtR = "txtRadni" + projectId;
					 //var txtP = "txtPrekovremeni" + projectId;

					 //document.getElementById(txtR).value = zabiljezeno;
					 //document.getElementById(txtP).value = isPrekovremeno ?
						//  parseMinutesToString(minutes - 8 * 60) : "00:00";


					 calculateTotals();
					 $('#btnOdustani').prop('disabled', false);

					 var model = {
						  IDSatnicaProjekta: -1,
						  SatnicaID: @Model.Satnica.IDSatnica,
						  ProjektID: projectId.toString(),
						  Start: start,
						  End: end
					 };


					 $.ajax({
						  url: "@Url.Action("SpremiTempSatnicu")",
						  method: "POST",
						  data: JSON.stringify(model),
						  contentType: 'application/json',
						  success: function (res) {
								//res[0] row
								//res[1] zabiljezeno
								//res[2] prekovremeno
								//res[3] projID

								table.cell(res[0], 1, 0).data(addHoursMinutes(table.cell(res[0], 1, 0).data(), res[1])).draw();

								//var txtR = "txtRadni" + res[3];
								//var txtP = "txtPrekovremeni" + res[3];

								//document.getElementById(txtR).value = res[1];
								//document.getElementById(txtP).value = res[2];

								calculateTotals();
								//$('#btnPredaj').prop('disabled', false);
						  }
					 });


				}

		  });

		  $('input').on('focusout', function (e) {

		  });

		  $('#btnUredi').on('click', function (e) {
				e.preventDefault();
				lockTextFields(false);
				$('#btnSpremi').prop('disabled', false);
		  });

		  $('#btnSpremi').on('click', function (e) {
				e.preventDefault();

				$('input').each(function (i) {
					 var value = $(this).val();
					 if (value != "") {
						  if (regex.test(value)) {
								lockTextFields(true);
								$('button.btnTimer').prop('disabled', true);
								lockTextFields(true);
								$('#btnSpremi').prop('disabled', true);
								$('#btnPredaj').prop('disabled', false);
								$('#btnOdustani').prop('disabled', false);

								if ($(this).attr('id').startsWith('txtRadni')) {
									 var projId = $(this).attr('id').split('txtRadni')[1];
									 var txtId = 'txtPrekovremeni' + projId;
									 if ($(this).val() != "00:00" || document.getElementById(txtId).value != "00:00") {

										  var startEnd = parseStringMinutesToFloat($(this).val(), document.getElementById(txtId).value);

										  var model = {
												IDSatnicaProjekta: 0,
												SatnicaID: 0,
												ProjektID: projId,
												Start: new Date(),
												End: new Date(),
												StartEnd: startEnd
										  };

										  $.ajax({
												url: "@Url.Action("SpremiZaPredaju")",
												method: "POST",
												data: JSON.stringify(model),
												contentType: 'application/json',
												success: function (res) {
													 calculateTotals();
													 console.log(res);
													 $('#btnPredaj').prop('disabled', false);
												}
										  });

									 }

								}

						  } else {
								$(this).focus();
								alert("krivi unos");
								return false;
						  }
					 }
				});
		  });

		  $('#btnOdustani').on('click', function (e) {
				e.preventDefault();
				if (confirm("Obrisati sve podatke?")) {
					 $('button.btnTimer').prop('disabled', false);
					 $('input').each(function (i) {
						  $(this).val("");
					 });
					 lockTextFields(true);
					 $('#btnSpremi').prop('disabled', true);
					 $('#btnPredaj').prop('disabled', true);
					 $(this).prop('disabled', true);
				}
		  });

		  $('#btnPredaj').on('click', function (e) {
				e.preventDefault();
				if (confirm("Predati unešene podatke?")) {
					 $('#btnPredaj').prop('disabled', true);

					 $('input').each(function (i) {
					 var value = $(this).val();
					 if (value != "") {
						  if (regex.test(value)) {
								if ($(this).attr('id').startsWith('txtRadni')) {
									 var projId = $(this).attr('id').split('txtRadni')[1];
									 var txtId = 'txtPrekovremeni' + projId;
									 if ($(this).val() != "00:00" || document.getElementById(txtId).value != "00:00") {

										  var startEnd =
												parseStringMinutesToFloat($(this).val(), document.getElementById(txtId).value);

										  var model = {
												IDSatnicaProjekta: 0,
												SatnicaID: 0,
												ProjektID: projId,
												Start: new Date(),
												End: new Date(),
												StartEnd: startEnd
										  };

										  $.ajax({
												url: "@Url.Action("SpremiZaPredaju")",
												method: "POST",
												data: JSON.stringify(model),
												contentType: 'application/json',
												success: function (res) {
													 calculateTotals();
													 console.log(res);
													 $('#btnPredaj').prop('disabled', false);
												}
										  });

									 }

								}

						  } else {
								$(this).focus();
								alert("krivi unos");
								return false;
						  }
					 }
				});

				}
		  });

	 });

	 $(function () {
		  $('body').on('click', '.modal-link', function (e) {
				e.preventDefault();
				$("#modal-container").remove();
				$.get($(this).data("targeturl"), function (data) {
					 $('<div id="modal-container" class="modal fade">' +
						  '<div class="modal-dialog modal modal-dialog-centered" role="document">' +
						  data + '</div></div> ').modal();
				});
		  });
	 });

	 function addHoursMinutes(first, second) {
		  var f = (first != '' && regex.test(first)) ? first.split(':') : ['00', '00'];
		  var s = (second != '' && regex.test(second)) ? second.split(':') : ['00', '00'];

		  var fH = parseInt(f[0]);
		  var sH = parseInt(s[0]);
		  var fM = parseInt(f[1]);
		  var sM = parseInt(s[1]);

		  var newH = fH + sH;
		  var newM = fM + sM;

		  return newH.toString().padStart(2, '0') + ":" + newM.toString().padStart(2, '0');
	 }

	 function lockTextFields(trueFalse) {
		  if (trueFalse) {
				$('input').each(function (i) {
					 $(this).prop('disabled', true);
				});
		  } else {
				$('input').each(function (i) {
					 $(this).prop('disabled', false);
				});
		  }
	 }

	 function calculateTotals() {
		  var newTotal = "00:00";
		  var newTotalRed = "00:00";
		  var newTotalPre = "00:00";



		  $('.zabiljezeno').each(function (i) {
				newTotal = addHoursMinutes(newTotal, $(this).text().trim());
		  });

		  $('input').each(function (i) {
				if ($(this).hasClass('radni')) {
					 newTotalRed = addHoursMinutes(newTotalRed, $(this).val());
				} else {
					 newTotalPre = addHoursMinutes(newTotalPre, $(this).val());
				}
		  });

		  $('#txtTotal').html(newTotal);
		  $('#txtTotalRedovni').html(newTotalRed);
		  $('#txtTotalPrekovremeni').html(newTotalPre);

	 }

	 function calculateMinutes(start, end) {
		  var diff = end - start;
		  return Math.round(((diff % 86400000) % 3600000) / 60000);
	 }

	 function parseStringMinutesToFloat(first, second) {

		  var zbroj = addHoursMinutes(first, second);

		  var p = zbroj.split(':');

		  var h = parseInt(p[0]);
		  var m = parseInt(p[1]);

		  return (h * 60) + m;
	 }

	 function parseMinutesToString(minutes) {
		  var num = Math.floor(minutes);
		  var h = Math.floor(num / 60);
		  var m = num % 60;
		  return h.toString().padStart(2, '0') + ':' + m.toString().padStart(2, '0');
	 }

</script>