@model EvidencijaSati.Models.ViewModels.UnosSatiVM
@using EvidencijaSati.Resources

@Scripts.Render("~/bundles/unosSati")
@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/Content/dataTables")
@Styles.Render("~/Content/unosSati")

<h1>@UnosSati.Pozdrav @Model.Djelatnik.Ime !</h1>

@Html.HiddenFor(a => a.AktivanProjektId, new { @id = "aktivanProjekt" })
@Html.HiddenFor(a => a.Satnica.IDSatnica, new { @id = "satnicaId" })
@Html.HiddenFor(a => a.Satnica.DjelatnikID, new { @id = "djelatnikId" })
@Html.HiddenFor(a => a.Satnica.Datum, new { @id = "datum" })

<div class="container">
	 <div class="row justify-content-between">
	 	 <div class="col col-4 dateCol">
	 	 	 <p>@UnosSati.Bilježe_se_sati__za <b><span id="txtDatum">@Model.Satnica.Datum.ToString().Split(' ')[0]</span></b></p>
	 	 </div>
	 </div>
	 <div class="row">
	 	 <div class="card card-body">

	 	 	 <table id="table" style="width: 100%">
	 	 	 	 <thead>
	 	 	 	 	 <tr>
						 <th>@UnosSati.Projekt</th>
						 <th>@UnosSati.Zabiljezeno</th>
	 	 	 	 	 	 <th>Start / Stop</th>
						 <th>@UnosSati.Radni_sati</th>
						 <th>@UnosSati.Prekovremeni_sati</th>
						 <th>@UnosSati.Detalji</th>
	 	 	 	 	 </tr>
	 	 	 	 </thead>
	 	 	 	 <tbody>
	 	 	 	 	 @for (int i = 0; i < Model.Projekti.Count; i++)
					 {
	 	 	 	 		  <tr class="@Model.Projekti[i].IDProjekt rowProjekt">
	 	 	 	 	 			<td>@Model.Projekti[i].Naziv</td>
	 	 	 					<td id="@("txtZab" + Model.Projekti[i].IDProjekt)" class="zabiljezeno">
	 	 	 	 					 @(Model.Satnica.ProjektZabiljezeno[i].RedovniPrekovremeni[0])
	 	 	 					</td>
	 	 	 					<td>
	 	 	 	 					 <button id="@("btnProjekt" + Model.Projekti[i].IDProjekt)"
												class="btn btn-success btnTimer @i"
												type="button">
	 	 	 	 	 					  Start
	 	 	 	 					 </button>
	 	 	 					</td>
	 	 	 					<td>
	 	 	 	 					 <input id="@("txtRadni" + Model.Projekti[i].IDProjekt.ToString())"
											  class="form-control radni"
											  type="text" />
	 	 	 					</td>
	 	 	 					<td>
	 	 	 	 					 <input id="@("txtPrekovremeni" + Model.Projekti[i].IDProjekt.ToString())"
											  class="form-control prekovremeni"
											  type="text" />
	 	 	 					</td>
	 	 	 					<td>
	 	 	 	 					 <button id="@("btnInfo" + Model.Projekti[i].IDProjekt)"
												class="btn btn-outline-dark modal-link"
												type="button"
												data-targeturl="@Url.Action("PrikaziInfoProjekta", new { @projId = Model.Projekti[i].IDProjekt, @satId = Model.Satnica.IDSatnica })">
	 	 	 	 	 					  <i class="fa fa-info"></i>
	 	 	 	 					 </button>
	 	 	 					</td>
	 	 				  </tr>
						  }
	 	 			 </tbody>
	 	 			 <tfoot>
	 	 	 			  <tr>
								<td>@UnosSati.Ukupno</td>
	 	 	 	 				<td></td>
	 	 	 					<td></td>
	 	 	 					<td><b><span id="txtTotalRedovni">00:00</span></b></td>
								<td><b><span id="txtTotalPrekovremeni">00:00</span></b></td>
	 	 	 					<td></td>
	 	 				  </tr>
	 				 </tfoot>
				</table>
		  </div>
	 </div>

	 <div class="row">
	 	 <div class="col-3">
	 			<p>@UnosSati.Komentar</p>
		 </div>
	 	 <div class="col">
	 		  @Html.TextAreaFor(d => d.Satnica.Komentar, 
				 new { 
					  @class = "form-control",
					  @id = "txtKomentar"
				 })
		 </div>
	 </div>

	 <div class="row btns justify-content-center">
		  <div class="col col-3">
				<button id="btnOdustani"
					 class="btn btn-outline-danger">
		  		  @UnosSati.Odustani
				</button>
		  </div>
		  <div class="col col-3">
				<button id="btnUredi"
					 class="btn btn-success">
		  		  @UnosSati.Uredi
				</button>
		  </div>
		  <div class="col col-3">
				<button id="btnSpremi"
					 class="btn btn-primary">
		  		  @UnosSati.Spremi
				</button>
		  </div>
		  <div class="col col-3">
				<button id="btnPredaj"
					 class="btn btn-warning">
		  		  @UnosSati.Predaj
				</button>
		  </div>
	 </div>

</div>

<div id="modal-container" class="modal" tabindex="-1" role="dialog">
	 <a href="#close" title="Close" class="modal-close-btn">X</a>
	 <div class="modal-content">
	 	 <div class="modal-body"></div>
	 </div>
</div>
