@model EvidencijaSati.Models.ViewModels.UnosSatiVM

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/Content/dataTables")
@Styles.Render("~/Content/unosSati")

<h1>Pozdrav @Model.Djelatnik.Ime !</h1>

<div class="container">
	  @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmSatnica" }))
	  {
		  <div class="row">
				<p>Odaberi Datum</p>
				@Html.TextBoxFor(s => s.Satnica.Datum, new
			  {
					@id = "dtpDate",
					@type = "date",
					@class = "form-control"
			  })
		  </div>
		  <div class="row">
				<div class="card card-body">

					 <table id="table" style="width: 100%">
						  <thead>
								<tr>
									 <th>Projekt</th>
									 <th>Zabilježeno</th>
									 <th>Start / Stop</th>
									 <th>Radni sati</th>
									 <th>Prekovremeni sati</th>
									 <th>Detalji</th>
								</tr>
							</thead>
						  <tbody>
						  	 <tr class="row0">
						  	 	 <td>Bolovanje</td>
						  	 	 <td id="txtZabBolovanje" class="zabiljezeno"></td>
						  	 	 <td>
									 <button id="btnBolovanje"
												class="btn btn-success btnTimer"
												type="button">Start
									 </button>
								 </td>
						  	 	 <td></td>
						  	 	 <td></td>
						  	 	 <td></td>
						  	 </tr>
						  	 <tr  class="row1">
						  	 	 <td>Godišnji odmor</td>
						  	 	 <td id="txtZabGodisnji" class="zabiljezeno"></td>
								<td>
									 <button id="btnGodisnji"
												class="btn btn-success btnTimer"
												type="button">Start
									 </button>
								</td>
						  	 	 <td></td>
						  	 	 <td></td>
						  	 	 <td></td>
						  	 </tr>
							 @for (int i = 0; i < Model.Projekti.Count; i++)
							 {
								<tr class="@("row" + (i + 2))">
						  		  <td>@Model.Projekti[i].Naziv</td>
						  		  <td id="@("txtZab" + Model.Projekti[i].IDProjekt)" class="zabiljezeno"></td>
						  		  <td>
											<button id="@("btnProjekt" + Model.Projekti[i].IDProjekt)"
													  class="btn btn-success btnTimer"
													  type="button">
												 Start
											</button>
									</td>
						  		  <td></td>
						  		  <td></td>
						  		  <td>
										<a href="#"
										   id="@("btnInfo" + Model.Projekti[i].IDProjekt)">
												<i class="fa fa-info-circle fa-3x" style="color: grey;"></i>
										 </a>
									</td>
								</tr>
							 }
								<tr class="@("row" + Model.Projekti.Count + 2)">
						  		  <td>Putovanje</td>
						  		  <td id="txtZabPutovanje" class="zabiljezeno"></td>
						  		  <td>
											<button id="btnPutovanje"
													  class="btn btn-success btnTimer"
													  type="button">
												 Start
											</button>
									</td>
						  		  <td></td>
						  		  <td></td>
						  		  <td></td>
								</tr>
						  </tbody>
						  <tfoot>
								<tr>
									 <td>Ukupno</td>
									 <td></td>
									 <td></td>
									 <td></td>
									 <td></td>
									 <td></td>
								</tr>
						  </tfoot>
					 </table>

				</div>
			 </div>
		  <div class="row"></div>

	  }
</div>

<script type="text/javascript">

	 $(document).ready(function () {

		  var projectId, start, end;

		  var table = $("#table").DataTable({
				paging: false,
				ordering: false,
				info: false,
				searching: false,
				columnDefs: [
					 {
						  targets: 1,
						  className: 'dt-body-center'
					 },
					 {
						  targets: 3,
						  className: 'dt-body-center'
					 },
					 {
						  targets: 4,
						  className: 'dt-body-center'
					 },
					 {
						  targets: 5,
						  className: 'dt-body-center'
					 }
				]
		  });

		  $('button.btnTimer').click(function (e) {
				e.preventDefault();

				if ($(this).hasClass('btn-success')) {
					 start = new Date();
					 if (isProject(this.id)) {
						  projectId = this.id.split('btnProjekt')[1];
					 } else {
						  projectId = this.id.split('btn')[1];
					 }					 

					 $(this).removeClass('btn-success');
					 $(this).addClass('btn-danger');
					 $(this).html('Stop');

					 $('button.btn-success').prop('disabled', true);

				} else {
					 end = new Date();

					 $('button.btn-success').prop('disabled', false);

					 $(this).removeClass('btn-danger');
					 $(this).addClass('btn-success');
					 $(this).html('Start');

					 console.log(end - start);
					 var times = new Array();
					 times = {
						  start,
						  end
					 };


					 var model = {
						  IDSatnica: -1,
						  DjelatnikID: @Model.Djelatnik.IDDjelatnik,
						  Datum: $('#dtpDate').val(),
						  ProjektID: projectId.toString(),
						  Start: start,
						  End: end,
						  Komentar: null
					 };


					 $.ajax({
						  url: "@Url.Action("SpremiTempSatnicu")",
						  method: "POST",
						  data: JSON.stringify(model),
						  contentType: 'application/json',
						  success: function (res) {
								var projId = 'txtZab' + res[3];
								var sel = 'td.zabiljezeno[id=\'' + projId + '\']';
								//$(sel).html(res[2]);
								var rowNum =
									 document.getElementById(projId).parentElement.className.split(' ')[0].split('row')[1];
								table.cell(rowNum, 1, 0).data(res[2]).draw();
								console.log(res);
						  }
					 });
					 

				}

		  });

		  function isProject(id) {
				if (id == 'btnBolovanje' || id == 'btnGodisnji' || id == 'btnPutovanje') {
					 return false;
				} else {
					 return true;
				}
		  }

	 });



</script>